<h1>Astronauts</h1>

<% @astronauts.each do |astronaut| %>
  <h3><%= astronaut.name %></h3>
  <p>Age: <%= astronaut.age %></p>
  <p>Job: <%= astronaut.job %></p>
<% end %>

<h2>Average Age: <%= @astronauts.average_age %></h2>
